.middle-content {
    max-width: 1000px;
    margin: auto;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header-section {
    background-image: url(./images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 170px 0;

}

.heading-1 {
    font-size: 60px;
    text-align: center;
    font-weight: 750;
    color: rgba(9, 231, 243, 0.975);
    line-height: 0rem;

}

.heading-2 {
    font-size: 60px;
    text-align: center;
    font-weight: 750;
    color: rgba(9, 231, 243, 0.975);
}

.heading-3 {
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 18px 27px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
}

.header-btn {
    text-align: center;
    margin: 40px;
}

.donate-section {
    margin-top: 13vh;
}

.donate-heading {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}

.donate-p {
    text-align: center;
    color: rgb(121, 111, 111);
}

.price-tag {
    display: flex;
    padding: 40px;

}

.price-100 {
    background-color: rgb(230, 224, 224);
    padding: 40px;
    font-size: 25px;
    margin-right: 10px;
    font-weight: 600;
    color: rgba(72, 70, 70, 0.831);
    border-radius: 5px;
}

.price-200 {
    background-color: rgb(230, 224, 224);
    padding: 40px;
    font-size: 25px;
    margin-right: 10px;
    font-weight: 600;
    color: rgba(186, 59, 59, 0.831);
    border: 2px solid rgba(186, 59, 59, 0.831);
    border-radius: 5px;
}

.price-500 {
    background-color: rgb(230, 224, 224);
    padding: 40px;
    font-size: 25px;
    margin-right: 10px;
    font-weight: 600;
    color: rgba(72, 70, 70, 0.831);
    border-radius: 5px;
}

.price-1000 {
    background-color: rgb(230, 224, 224);
    padding: 40px;
    font-size: 25px;
    margin-right: 10px;
    font-weight: 600;
    color: rgba(72, 70, 70, 0.831);
    border-radius: 5px;
}

.price-5000 {
    background-color: rgb(230, 224, 224);
    padding: 40px;
    font-size: 25px;
    font-weight: 600;
    color: rgba(72, 70, 70, 0.831);
    border-radius: 5px;
}

.text-area{
    text-align: center;
    font-size: 20px;
    color: rgb(133, 133, 121);
    margin: 20px;
}

.planing-section{
    margin: 80px;

}
.planing-heading{
font-size: 40px;
font-weight: 700;
text-align: center;
}

.planing-text{
    color: rgb(121, 111, 111);
    text-align: center;
}

.planing-box{
    display: flex;
    margin-top: 08vh;
}

.box-1{
    padding: 17px 35px;
    background-color: rgba(196, 238, 249, 0.490);
    margin-right: 25px;
    border-radius: 10px;
}
.box-2{
    padding: 17px 35px;
    background-color: rgba(236, 197, 236, 0.490);
    margin-right: 25px;
    border-radius: 10px;
}
.box-3{
    padding: 17px 35px;
    background-color: rgba(239, 239, 209, 0.490);
    border-radius: 10px;
}

.box-1text{
    color: rgb(121, 111, 111);
    font-size: 15px;
}
.box-2text{
    color: rgb(121, 111, 111);
    font-size: 15px;
}
.box-3text{
    color: rgb(121, 111, 111);
    font-size: 15px;
}
.update-news{
    line-height: 30px;
}

.news-bold{
    color: red;
}

.update-heading{
    font-size: 25px;
    font-weight: 800;

}